<ul id="desktop-menu" class="menu">
  @for (item of menuItems; track $index){
    <li class="menu-item">
      <a class="menu-link" (click)="navigateTo(item.link)" href="javascript:void(0);">{{ item.label }}</a>
    </li>
  }
  <li class="menu-item">
    <a class="menu-link" (click)="goToBottom()" href="javascript:void(0);">// contact me</a>
  </li>
</ul>

<div class="mbl-overlay-bg" [class.mbl-background-active]="isMenuOpen" (click)="toggleMenu()"></div>
<div id="mobile-menu">
  <button (click)="toggleMenu()" class="menu-toggle-btn">☰</button>
  <div [class.mbl-overlay-active]="isMenuOpen" class="overlay-off">
    <div class="close-bar">
      <button class="btn-close" (click)="toggleMenu()">☰</button>
    </div>
    <div class="mbl-overlay-container">
      <ul id="mobile-menu" class="menu">
        @for (item of menuItems; track $index){
          <li class="menu-item">
            <a (click)="navigateTo(item.link)" href="javascript:void(0);">{{ item.label }}</a>
          </li>
        }
        <li class="menu-item">
          <a class="menu-link" (click)="goToBottom(); toggleMenu()" href="javascript:void(0);">// contact me</a>
        </li>
      </ul>
    </div>
  </div>
</div>