<ul id="desktop-menu" class="menu">
  @for (item of menuItems; track $index){
    <li class="menu-item">
      <a class="menu-link" (click)="navigateTo(item.link)" href="javascript:void(0);">{{ item.label }}</a>
    </li>
  }
  <li class="menu-item">
    <a class="menu-link" (click)="goToBottom()" href="javascript:void(0);">// contact me</a>
  </li>
</ul>

<button (click)="toggleMenu()">Open Menu</button>

<div class="mbl-overlay" [class.mbl-overlay-active]="isMenuOpen">
  <div class="mbl-overlay-bg"></div>
  
  <div class="close-bar">
    <button class="btn-close" (click)="toggleMenu()">Close</button>
  </div>
  
  <div class="mbl-overlay-container">
    <ul id="mobile-menu" class="menu">
      @for (item of menuItems; track $index){
        <li class="menu-item">
          <a (click)="navigateTo(item.link)" href="javascript:void(0);">{{ item.label }}</a>
        </li>
      }
    </ul>
  </div>
</div>
