<footer>
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>My specialties</h4>
                <ul>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">C++</a></li>
                    <li><a href="#">Java</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>My experiences</h4>
                <ul>
                    <li><a href="https://www.acg-synergies.fr/">ACG-Synergies</a></li>
                    <li><a href="https://www.sietelcom.com/">Sietel Midi Telecom</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>My networks</h4>
                <div class="social-links">
                    <a href="https://github.com/HAurelien"><img src="icons/github.png" alt="GitHub"></a>
                    <a href="https://fr.linkedin.com/in/aur%C3%A9lien-habermacher"><img src="icons/linkedin.png" alt="LinkedIn"></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Contact me</h4>
                <ul>
                    <li><a href="javascript:void(0)" (click)="copyEmail($event)">By mail</a><p>{{ email }}</p></li>
                </ul>
            </div>
        </div>
    </div>
    <app-local-notification #localNotification message="Copied!"></app-local-notification>
</footer>
