<footer>
    <div class="contact">
      <div class="networks">
        <h4>Contact me</h4>
        <div class="social-links">
          <ul class="social-list">
            <li><a href="https://github.com/HAurelien" target="_blank">Github</a></li>
            <li><a href="https://fr.linkedin.com/in/aur%C3%A9lien-habermacher" target="_blank">Linkedin</a></li>
            <li><p (click)="copyEmail($event)">Mail<p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="feedback">
      <ul>
        <li>
            <h4> - ACG-Synergies - </h4>
            <p>"Among Aurélien's many qualities, his ability to assimilate new knowledge and apply it effectively was particularly impressive."</p>
            <p>"Aurélien also showed an excellent ability to work as part of a team, while demonstrating autonomy when necessary. His clear communication and willingness to learn made him a valuable asset to our team."</p>
        </li>
        <li>
            <h4> - ACG-Synergies - </h4>
            <p>"I'm convinced that Aurélien will bring the same energy and skill to your company. His dynamism, commitment, and eagerness to learn make him an ideal candidate for any organization seeking to innovate and evolve in a constantly changing technological environment."</p>
        </li>
      </ul>
    </div>
    @if (scrolled) {
      <div class="top-scroller">
        <button (click)="goToTop()">▲</button>
      </div>
    }
    <app-local-notification #localNotification></app-local-notification>
</footer>
  