<div class="home-container">
    <!-- Presentation Section -->
    <section class="presentation">
      <div class="presentation-content">
        <h1>Aurélien Habermacher</h1>
        <h5>Backend developer, curious by nature, IT enjoyer.</h5>
      </div>
    </section>
  
    <!-- Skills Section -->
    <section class="skills">
      <h2>Skills</h2>
      <div class="skills-list">
        <app-data-block [datas]="skills"></app-data-block>
      </div>
    </section>
  
    <!-- About Section -->
    <section class="about">
      <h2>About Me</h2>
      <app-word-cloud [words]="words"></app-word-cloud>
      <p>
        I really discovered IT through video game modding when I was 14, and instantly felt like this was made for me. Since, despite having multiple passions passing by, one never stopped burning in me: building incredible things with those lines of codes I cherish so much. It's been an incredible journey so far, from those firsts few lines alone in my room to multiple full-fleshed applications when I finally got to learn it at a professional level, giving me the opportunity to turn my passion into my job. And I never really felt like I was working since. 
      </p>
    </section>
  </div>
