<main class="carousel-container" #carouselContainer>
  <div class="carousel">
    @for (item of items; track $index){
      <div class="item"  [class.active]="$index === currentIndex">
        <div class="carousel-image-container">
          <img [src]="item.image" [alt]="item.title" />
        </div>
        <a class="title" [href]="item.link">{{ item.title }}</a>
      </div>
    }
  </div>
  @if (display_left_right) {
  <button class="btn prev" (click)="navigate('prev')">Prev</button>
  <button class="btn next" (click)="navigate('next')">Next</button>
  }
  <div class="dots">
    @for (dot of dots; track $index){
      <span (click)="selectItem($index)"
      [class.active]="$index === currentIndex" 
      class="dot"></span>
    }
  </div>
</main>