body {
    margin: 0;
    background-color: #1a191d;
    overflow-x: hidden;
    
    h2, h3, h4 {
      font-family: "Robot Mono", sans-serif;
    }
    p {
      font-family: "Poppins", sans-serif;
    }
}

html {
  overflow-x: hidden;
}

.fade-in {
  opacity: .5;
  transform: translateY(10px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
  
.fade-in-active {
  opacity: 1;
  transform: translateY(0);
}
