
.biography-section {
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 30px;
        color: white;
      }

    .slice {
      background-color: #202124;
      display: flex;
      flex-direction: column;
      max-width: 90vw;
      margin-bottom: 50px;
      padding-bottom: 50px;
      border-radius: 15px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        background-color: #2c2f34;
      }

      h4 {
        align-self: center;
      }
      
      .body {
        display: flex;
        align-items: center;
        margin-inline: 2vw;
        
        p {
          text-align: center;
          margin: 5vw;
          font-size: 1em;
        }
      }
    }


    
    .final-slice {
      background-color: #202124;
      display: flex;
      flex-direction: column;
      max-width: 90vw;
      margin-bottom: 50px;
      padding-bottom: 50px;
      border-radius: 15px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      text-align: center;

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        background-color: #2c2f34;
      }

      h4 {
        align-self: center;
      }
      
      .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: 2vw;
        
        p {
          margin-block: 5vh;
          margin-inline: 5vw;
          font-size: 1em;
          &:first {
            margin-top: 10vh;
          }
        }
        button {
          color: #d1d1d1;
          background-color: #1e2227;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 4em;
          transition: background-color 0.3s ease, transform 0.3s ease;

          &:hover {
            background-color: #343b42;
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }
    }
  }