<div class="biography-section">
  <div class="slice fade-in" appAppearOnScroll animationClass="fade-in-active">
    <h4>The beginning</h4>
    <div class="body">
      <app-carousel [display_left_right]="false" [loop_ms]="10000" [items]="carouselImages[0]" [width]="image_width()" [height]="image_height()"></app-carousel>
      <div class="text-content">
        <p>I have always been playing games, whether on console or PC. One day, I launched Minecraft, the first game I ever modded, and that kept intriguing me.</p>
        <p>Interested by the variety of what it could provide, I tried it myself. Without any prior knowledge or acquintaince having some, and being about 10yo, it turned out to be difficult.</p>
        <p>Hence, I tried to quench my curiosity another way.</p>
      </div>
    </div>
  </div>
  <div class="slice fade-in" appAppearOnScroll animationClass="fade-in-active">
    <h4>The IT tour</h4>
    <div class="body">
      <app-carousel [display_left_right]="false" [loop_ms]="10000" [items]="carouselImages[1]" [width]="image_width()" [height]="image_height()"></app-carousel>
      <div class="text-content">
        <p>I tried many softwares, watching tutorials, making small projects with the tight schedule I had to respect back then.</p>
        <p>But the more I learned, the more I realized that I could not do exactly what I wanted without learning programming seriously. Or actually, that I could do anything, if only I knew how to write code. And so begun my journey into software development.</p>
        <p>And after a few months here and there, developing small games or softwares for me and my family, I started liking development more and more by itself.</p>
      </div>
    </div>
  </div>
  <div class="slice fade-in" appAppearOnScroll animationClass="fade-in-active">
    <h4>Time to go to college</h4>
    <div class="body">
      <app-carousel [display_left_right]="false" [loop_ms]="10000" [items]="carouselImages[2]" [width]="image_width()" [height]="image_height()"></app-carousel>            
      <div class="text-content">
        <p>Finally, I was not undergraded anymore, and I could spend most of my time doing what was becoming an important hobby of mine : software development. Well beyond video games, I felt deeply in love with this profession.</p>
        <p>I applied to a good university, and moved there to begin what was the most rewarding part of the journey so far.</p>
        <p>Learning memory management, multiple languages, linux environment on one technical side. On the other side, working with other people to both balance strenghts and weaknesses and share knowledge, from/to students and incredible professors !</p>
      </div>
    </div>
  </div>
  <div class="slice fade-in" appAppearOnScroll animationClass="fade-in-active">
    <h4>Then further beyond</h4>
    <div class="body">
      <app-carousel [display_left_right]="false" [loop_ms]="10000" [items]="carouselImages[3]" [width]="image_width()" [height]="image_height()"></app-carousel>            
      <div class="text-content">
        <p>After two years of theory, it was time to practice. And it is through a lucky encounter that I got to know ACG-Synergies, a company matching perfectly with my desire to grow.</p>
        <p>Here, I learned my firsts few frameworks like SpringBoot and Angular, unlocking once again whole new field to explore thanks to their guidance, seeing me as one of their own.</p>
        <p>Meanwhile, I also started to get a serious interest in AI, making a generative platform the project of my final year of studies.</p>
      </div>
    </div>
  </div>
  <div class="final-slice fade-in" appAppearOnScroll animationClass="fade-in-active">
    <h4>And what now ?</h4>
    <div class="body">
      <app-carousel [display_left_right]="false" [loop_ms]="10000" [items]="carouselImages[4]" [width]="image_width()" [height]="image_height()"></app-carousel>
      <div class="text-content">
        <p>With my new diploma in hand, I'm ready to explore the world.</p>
        <p>In my pursuit of self-improvement, I've decided to also have a look at other cultures, different people, different ways of thinking and doing. That's why I'm looking for an exciting position not only in France, but anywhere in the world. I'm fluent in English and ready to take the next big step, wherever it may lead.</p>
        <p>If what you've seen so far has convinced you—or even just sparked your curiosity—you can always <button (click)="click_contact_me()">contact me</button>.</p>
              </div>
    </div>
  </div>
</div>